<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <style>
        .highcharts-caption {

            font-weight: 500;
            font-size: 14px;
        }

        .chart-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

        }

        .chart {
            width: 80%;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 40px;
        }

    </style>
</head>
<body>
Add tracking
<!--/*@thymesVar id="tracker" type="net.puzatin.tradetrack.model.Tracker"*/-->
<form th:action="@{/}" method="post" th:object="${tracker}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Public key:</td>
            <td><input type="text" th:field="*{pubKey}" /></td>
            <td th:if="${#fields.hasErrors('pubKey')}" th:errors="*{pubKey}">Public key Error</td>
        </tr>
        <tr>
            <td>Secret key:</td>
            <td><input type="password" th:field="*{secKey}" /></td>
            <td th:if="${#fields.hasErrors('secKey')}" th:errors="*{secKey}">Secret key Error</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea maxlength="140" th:field="*{description}"></textarea></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
        </tr>
        <tr>
            <td>Public:</td>
            <td><input type="checkbox" th:field="*{public}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>


Search
<form name="search" method="get" onsubmit="return OnSubmitForm();">
    <input type="text" id="trackerName" />
    <input type="submit" value="Search"/>
</form>


<div class="chart-container">
</div>


<script th:inline="javascript">

    function OnSubmitForm()
    {
        var trackerName = document.getElementById("trackerName").value;
        document.search.action="tracker/"+trackerName;
        return true;
    }



    function createConfig(snapshot) {


        let profitInUSDT = snapshot.profitInUSDT,
            profitInBTC = snapshot.profitInBTC,
            xAxisDate = snapshot.date;


        profitInUSDT = profitInUSDT.map((val, i) => [xAxisDate[i], val])
        profitInBTC = profitInBTC.map((val, i) => [xAxisDate[i], val])

        return {

            title: {
                useHTML: false,
                text:   '<a href="/tracker/' + snapshot.name + '"> ' + snapshot.name + ' </a>'
            },
            navigator: {
                enabled: false
            },

            caption: {
                styledMode: true,
                useHTML: false,
                align: 'center',
                y: 0,
                text:  snapshot.description
            },

            rangeSelector: {
                selected: 6,
                enabled: false,

                },

            scrollbar: {
                enabled: false
            },
            yAxis: {
                opposite:false,
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    },
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },
            legend: {
                enabled: true,

            },
            tooltip: {
                pointFormat: '{series.name} <b>{point.y}%</b>',

                valueDecimals: 2,
                split: true
            },
            series: [{
                name: 'profit in USDT',
                data: profitInUSDT,
                color: '#21a27c',
                tooltip: {
                    valueDecimals: 2
                }
            },
                {
                    name: 'profit in BTC',
                    data: profitInBTC,
                    color: '#f79413',
                    tooltip: {
                        valueDecimals: 2
                    }
                }
            ]

        };
    }



    window.onload = function() {

        let container = document.querySelector('.chart-container');
        [[${list}]].forEach(function(snapshot) {

            let chartcont = document.createElement('div');
            chartcont.className = 'chart';
            let desc = document.createElement('div');
            desc.className = 'desc-container';
            desc.innerHTML = snapshot.description;

            chartcont.append(desc);
            container.append(chartcont);


            let config = createConfig(snapshot);

            Highcharts.stockChart(chartcont, config);


        });

    };


</script>


</body>
</html>