<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <style>
        .highcharts-caption {
            font-weight: 500;
            font-size: 14px;
        }

    </style>
</head>
<body>


        <div th:if="${tracker?.pubKey}">
            <a th:href="@{/tracker/{pubKey}/edit
        (pubKey=${tracker.pubKey})
        }">Edit</a>

            <a th:href="@{/tracker/{pubKey}/delete
        (pubKey=${tracker.pubKey})
        }" onclick="return confirm('Are you sure?')">Delete</a>
        </div>


<div id="container" style="width:80%; height:600px;"></div>
<script th:inline="javascript">


        // Create the chart
        let profitInUSDT = [[${snapshot.profitInUSDT}]],
            profitInBTC = [[${snapshot.profitInBTC}]],
            xAxisDate = [[${snapshot.date}]];


        profitInUSDT = profitInUSDT.map((val, i) => [xAxisDate[i], val])
        profitInBTC = profitInBTC.map((val, i) => [xAxisDate[i], val])

        Highcharts.stockChart('container', {
            title: {
                text: [[${snapshot.name}]]
            },

            caption: {
                styledMode: true,
                useHTML: false,
                align: 'center',
                y: 0,
                text:  [[${snapshot.description}]]
            },

            yAxis: {
                opposite:false,
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    },
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },
            legend: {
                enabled: true,

            },
            tooltip: {
                pointFormat: '{series.name} <b>{point.y}%</b>',

                valueDecimals: 2,
                split: true
            },
            series: [{
                name: 'profit in USDT',
                data: profitInUSDT,
                color: '#21a27c',
                tooltip: {
                    valueDecimals: 2
                }
            },
                {
                    name: 'profit in BTC',
                    data: profitInBTC,
                    color: '#f79413',
                    tooltip: {
                        valueDecimals: 2
                    }
                }
            ]
        });

</script>

</body>
</html>