<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        .chart-container {
            width: 500px;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 40px;
        }
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>
</head>
<body>
Add tracking

<!--/*@thymesVar id="tracker" type="net.puzatin.tradetrack.model.Tracker"*/-->
<form th:action="@{/}" method="post">
    <p>Name: <input type="text" th:field="*{tracker.name}" /></p>
    <p>Public key: <input type="text" th:field="*{tracker.pubKey}" /></p>
    <p>Secret key: <input type="password" th:field="*{tracker.secKey}" /></p>
    <p>Public: <input type="checkbox" th:field="*{tracker.public}" /></p>
    <p th:errors="*{tracker.pubKey}"></p>
    <p th:errors="*{tracker.name}"></p>
    <p><input type="submit" value="Submit" /></p>
</form>


<ul  th:each="tracker : ${trackers}">
    <li class="list-group-item" th:text="${tracker.name}">
    </li>
</ul>
Search
<form th:action="@{/search}" method="get">
    <input type="text" name="tracker" id="search" />
    <input type="submit" value="Search"/>
</form>

<canvas id="myChart" width="500" height="400">
    Your browser does not support the HTML5 canvas tag.
</canvas>
<script th:inline="javascript">

    var timeFormat = 'MM/DD/YYYY HH:mm';

    function newDate(days) {
        return moment().add(days, 'd').toDate();
    }

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [ // Date Objects
                newDate(0),
                newDate(1),
                newDate(2),
                newDate(3),
                newDate(4),
                newDate(5),
                newDate(6)
            ],
            datasets: [{
                label: '# of Votes',
                data:
                    [[${list}]]
                ,
            }]

        },
        options: {
            responsive: false,
            title: {
                display: true,
                text: 'name'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            },
        }

    });
</script>


</body>
</html>